.characteristics {
  padding: 94px 0;
}

/* characteristics-list */

.characteristics-list {
  display: flex;
  margin-left: -30px;
  &__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
  }

  &__title {
    @include font(null, 1.14, 700);
    text-transform: uppercase;
    color: var(--bottom-title-color);
    margin-bottom: 10px;
  }

  &__text {
    line-height: 1.71;
  }
}

/* characteristics-soc */

.characteristics-soc {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
