.clients {
  padding: 94px 0;
  &__title {
    @include font(36px, 1.17, 700);
    text-align: center;
    color: var(--bottom-title-color);
    margin: 0 auto 50px;
  }
}

/* clients-list */

.clients-list {
  display: flex;
  justify-content: center;
  &__item:not(:last-child) {
    margin-right: 30px;
    display: flex;
  }

  &__link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--title-link-color);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    transition: var(--time-animation) var(--timing-animation);
    &:hover,
    &:focus {
      background-color: var(--title-link-color);
      color: var(--active-link-color);
      border: 1px solid var(--active-link-color);
    }
  }

  &__icon {
    fill: currentColor;
  }
}
