.command {
  background: #f5f4fa;
  padding: 94px 0;
}

.command__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--bottom-title-color);
  margin-bottom: 50px;
}

/* command-list */

.command-list {
  display: flex;
  margin-left: -30px;
}

.command-list__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--title-link-color);
}

.command-list__img {
  margin-bottom: 30px;
  height: auto;
}

.command-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--bottom-title-color);
  margin-bottom: 10px;
}

.command-list__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 15px;
  text-align: center;
}

/* command-soc-list */

.command-soc-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.command-soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.command-soc-list__link {
  width: 44px;
  height: 44px;
  background-color: var(--title-link-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: var(--time-animation) var(--timing-animation);
  &:hover,
  &:focus {
    background-color: var(--active-link-color);
    color: var(--title-link-color);
  }
}

.command-soc-list__icon {
  fill: currentColor;
}
