.header {
  border-bottom: 1px solid #ececec;
  .container {
    display: flex;
    align-items: center;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

/* header-nav */

.header-nav__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--active-link-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-nav__logo-bottom {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-logo-color);
}

/* header-list */

.header-list {
  display: flex;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--bottom-title-color);
  padding: 32px 0;
  transition: var(--time-animation) var(--timing-animation);
  &:hover,
  &:focus {
    color: var(--active-link-color);
  }
}

/* link-active */

.header-list__link--active {
  color: var(--active-link-color);
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--active-link-color);
  }
}

/* header-list-adress */

.header-list-adress {
  display: flex;
  margin-left: auto;
}

.header-list-adress__mail,
.header-list-adress__tel {
  display: flex;
  align-items: center;
}

.header-list-adress__mail {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-mail-tel-body-color);
  padding: 32px 0;
  transition: var(--time-animation) var(--timing-animation);
  &:hover,
  &:focus {
    color: var(--active-link-color);
  }
}

.header-list-adress__tel {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-mail-tel-body-color);
  margin-left: 50px;
  padding: 32px 0;
  transition: var(--time-animation) var(--timing-animation);
  &:hover,
  &:focus {
    color: var(--active-link-color);
  }
}

.header-list-adress__icon {
  margin-right: 10px;
  fill: currentColor;
}
