.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herobg.jpg);
  background-repeat: no-repeat;
  width: 1600px;
  margin: 0 auto;
  &__title {
    width: 696px;
    margin: 0 auto;
    @include font(44px, 1.36, 900);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-link-color);
    margin-bottom: 30px;
  }
}

.hero-btn {
  &.big-btn {
  }
  font-family: inherit;
  display: flex;
  text-align: center;
  padding: 10px 32px;
  margin: 0 auto;
}
