.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--time-animation) var(--timing-animation);
  &.is-hidden .backdrop__modal {
    transform: scale(0.2);
  }
}

.backdrop__modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: var(--title-link-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transition: transform 250ms;
  transform: translate(-50%, -50%) scale(1);
}

.backdrop__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--bottom-title-color);
  margin-bottom: 12px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* modal-close-btn */

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--time-animation) var(--timing-animation);
  &:hover,
  &:focus {
    fill: var(--active-link-color);
  }
}

.modal-close-btn__icon {
  color: #000;
}

/* modal-field  */

.modal-field {
  margin-bottom: 10px;
}

.modal-field__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--header-mail-tel-body-color);
  margin-bottom: 4px;
  display: block;
}

.modal-field__text {
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  margin-bottom: 20px;
  outline: none;
  &:focus {
    border-color: var(--active-link-color);
    transition: var(--time-animation) var(--timing-animation);
  }
}

.modal-field__check:checked + .check-text span {
  border: none;
  background-color: var(--active-link-color);
}

.modal-field__check:focus + .check-text span {
  border-color: var(--active-link-color);
}

.modal-field__check:checked + .check-text .check-text__icon {
  fill: var(--title-link-color);
}

/* modal-wrap */

.modal-wrap {
  position: relative;
}

.modal-wrap__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: var(--time-animation) var(--timing-animation);
  &:focus {
    border-color: var(--active-link-color);
  }
}

.modal-wrap__input:focus + .modal-wrap__icon {
  fill: var(--active-link-color);
}

.modal-wrap__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--time-animation) var(--timing-animation);
}

/* check-text */

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.71;
  color: var(--header-mail-tel-body-color);
  margin-bottom: 30px;
}

.check-text__icon {
  fill: transparent;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--time-animation) var(--timing-animation);
}

.check-text__link {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--active-link-color);
}

/* modal-form */

.modal-form__btn {
  width: 200px;
  height: 50px;
  background: var(--active-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--title-link-color);
  cursor: pointer;
  margin: 0 auto;
  border: none;
  padding: 0;
  &:focus,
  &:hover {
    background-color: #188ce8;
    transition: var(--time-animation) var(--timing-animation);
  }
}
